;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]

 :dependencies [[reagent "1.0.0-alpha2"]
                [re-frame "1.0.0"]]

 :dev-http {8080 "public"}

 :builds {:app {:target :browser
                :compiler-options {:optimizations :none}
                :modules {:main {:init-fn meantune.app/main}}
                :devtools {:http-root "public"
                           :http-port 8080}}
          :node-test {:target :node-test
                      :output-to "out/node-tests.js"
                      :autorun "true"}}}
